html,
body {
	min-height: 100%;
	background-color: #000;
	font-family: 'Times New Roman', Times, serif;
	color: white;
}

.custom-center {
	text-align: center;
}

.social-media-icon {
	width: 24px;
	height: 24px;
}

.main-image {
	width: auto;
	border-radius: 50%;
	opacity: 0.8;
	filter: alpha(opacity=50);
}

@media (min-width: 769px) {
	.main-image {
		margin-top: 50px;
		height: 600px;
	}
}

@media (max-width: 768px) {
	.main-image {
		margin-top: 25px;
		height: 350px;
	}
}

.my-information {
	color: #dededc;
	text-align: justify !important;
	margin-top: 10px;
}

pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 0em 0.1em;
	font-size: 1.1em;
	background: transparent;
}

/* Syntax highlighting classes */
.keyword {
	color: #569cd6;
}
.string {
	color: #569cd6;
}
.comment {
	color: #6a9955;
}
.number {
	color: #b5cea8;
}
.property {
	color: #9cdcfe;
}
